{% extends 'customer/base.html' %}
{% block maincontent %}
    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Topic Header -->
      <div class="topic">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3>Rate Card</h3>
            </div>
            <div class="col-sm-8">
              <ol class="breadcrumb pull-right hidden-xs">
                <li><a href="/">Home</a></li>
                <li class="active">Rate Card</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12 no-padding">
					<h3>Cooking Charges (per month)</h3>
					<div class="table-responsive b-pricing-table">
						<table class="table table-bordered b-pricing-table__table small">
							<thead>
							<tr>
								<th class="b-pricing-table__plan-title col-md-3">S.No</th>
								<th class="b-pricing-table__plan-title" colspan="3">Family</th>
								<th class="b-pricing-table__plan-title" colspan="3">Bachelors</th>
								<!--<th class="b-pricing-table__plan-title" colspan="3">Classic Cooking</th>-->
							</tr>
							</thead>
							<tbody>
							<tr>
								<td></td>
								<td>No. of Persons</td>
								<td>Any one (B/L/D)</td>
								<td>Any two (B/L/D)</td>
								<td>All three (B+L+D)</td>
								<td>No. of Persons</td>
                                <td>Any one (B/L/D)</td>
								<td>Any two (B/L/D)</td>
								<td>All three (B+L+D)</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">1</td>
								<td class="">2</td>
                                <td class="">2999</td>
								<td class="">3499</td>
								<td class="">3999</td>
								<td class="">1</td>
                                <td class="">1999</td>
								<td class="">2999</td>
								<td class="">3499</td>
								</tr>
							<tr>
								<td class="b-pricing-table-price__title">2</td>
								<td class="">3-4</td>
                                <td class="">3999</td>
								<td class="">4999</td>
								<td class="">5999</td>
								<td class="">2</td>
                                <td class="">2799</td>
								<td class="">3499</td>
								<td class="">3999</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">3</td>
								<td class="">5-6</td>
                                <td class="">4999</td>
								<td class="">6999</td>
								<td class="">8449</td>
								<td class="">3</td>
								<td class="">2999</td>
								<td class="">3999</td>
								<td class="">4899</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">4</td>
								<td class="">-</td>
								<td class="">-</td>
								<td class="">-</td>
								<td class="">-</td>
								<td class="">4</td>
								<td class="">3499</td>
								<td class="">4999</td>
								<td class="">5999</td>
								<!--<td class="">9549</td>-->
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">5</td>
								<td class="">-</td>
                                <td class="">-</td>
                                <td class="">-</td>
                                <td class="">-</td>
                                <td class="">5</td>
                                <td class="">3999</td>
								<td class="">5999</td>
								<td class="">7499</td>
								<!--<td class="">3749</td>
								<td class="">7299</td>
								<td class="">10549</td>
								<td class="">4749</td>
								<td class="">8299</td>
								<td class="">11549</td> -->
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">6</td>
								<td class="">-</td>
                                <td class="">-</td>
								<td class="">-</td>
								<td class="">-</td>
								<td class="">6</td>
                                <td class="">4999</td>
								<td class="">7199</td>
								<td class="">8999</td>
								<!--<td class="">9699</td>
								<td class="">13799</td>
							</tr>
							<!--<tr>
								<td class="b-pricing-table-price__title">More than 6</td>
								<td class="">679/person</td>
								<td class="">1299/person</td>
								<td class="">1899/person</td>
								<td class="">709/person</td>
								<td class="">1399/person</td>
								<td class="">2049/person</td>
								<td class="">909/person</td>
								<td class="">1599/person</td>
								<td class="">2249/person</td>
							</tr>-->
{#							<tr>#}
{#								<td></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#							</tr>#}
							</tbody>
						</table>
					</div>
					<br>
					<div class="row col-md-12">
						<div class="col-md-4">
                            Note:
							<ul>
								<li>B: Breakfast</li>
								<li>L: Lunch</li>
								<li>D: Dinner</li>
							</ul>
						</div>
                    </div>
				</div>
			</div>
			<!-- / .row -->
		</div><!-- / .container -->

    </div> <!-- / .wrapper -->
{% endblock %}