{% extends 'customer/base.html' %}
{% block maincontent %}
	<!-- Wrapper -->
	<div class="wrapper">

		<!-- Topic Header -->
		<div class="topic">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h3>Rate Card</h3>
					</div>
					<div class="col-sm-8">
						<ol class="breadcrumb pull-right hidden-xs">
							<li><a href="/">Home</a></li>
							<li class="active">Rate Card</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
					<h3>House Cleaning Charges (per month)</h3>

					<div class="table-responsive b-pricing-table">
						<table class="table table-bordered b-pricing-table__table small">
							<thead>
							<tr>
								<th class="col-md-3"></th>
								<th class="b-pricing-table__plan-title">Basic House Cleaning</th>
								<th class="b-pricing-table__plan-title">Standard House Cleaning</th>
								<th class="b-pricing-table__plan-title">Classic House Cleaning</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td class="b-pricing-table-price__title">1RK</td>

								<td>599</td>
								<td>799</td>
								<td>999</td>

							</tr>
							<tr>
								<td class="b-pricing-table-price__title">1BHK</td>

								<td>749</td>
								<td>899</td>
								<td>1099</td>

							</tr>
							<tr>
								<td class="b-pricing-table-price__title">2 BHK</td>

								<td>799</td>
								<td>999</td>
								<td>1299</td>

							</tr>
							<tr>
								<td class="b-pricing-table-price__title">3 BHK</td>

								<td>899</td>
								<td>1099</td>
								<td>1499</td>

							</tr>
							<tr>
								<td class="b-pricing-table-price__title">4 BHK</td>

								<td>999</td>
								<td>1199</td>
								<td>1699</td>

							</tr>
							<tr>
								<td class="b-pricing-table-price__title">Row House (2 rooms)</td>

								<td>999</td>
								<td>1299</td>
								<td>1599</td>

							</tr>
							<tr>
								<td class="b-pricing-table-price__title">Row House (3 rooms)</td>

								<td>1099</td>
								<td>1499</td>
								<td>1699</td>

							</tr>
							<tr>
								<td class="b-pricing-table-price__title">Row House (4 rooms)</td>

								<td>1199</td>
								<td>1699</td>
								<td>1799</td>

							</tr>
							<!--<tr>
								<td class="b-pricing-table-price__title">Row House (5 rooms)</td>

								<td>1299</td>
								<td>1599</td>
								<td>2099</td>

							</tr>
							<tr>
								<td class="b-pricing-table-price__title">Others</td>

								<td>On inspection</td>
								<td>On inspection</td>
								<td>On inspection</td>-->

							</tr>

							{#							<tr>#}
							{#								<td></td>#}
							{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
							{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
							{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
							{#							</tr>#}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->

	</div> <!-- / .wrapper -->
{% endblock %}