{% extends 'customer/base.html' %}
{% block maincontent %}
	<!-- Wrapper -->
	<div class="wrapper">

		<!-- Topic Header -->
		<div class="topic">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h3>Rate Card</h3>
					</div>
					<div class="col-sm-8">
						<ol class="breadcrumb pull-right hidden-xs">
							<li><a href="i/">Home</a></li>
							<li class="active">Rate Card</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
					<h3>Kitchen Cleaning Charges</h3>
					<div class="table-responsive b-pricing-table">
						<table class="table table-bordered b-pricing-table__table small">
							<thead>
							<tr>
								<th class="col-md-3"></th>
								<th class="b-pricing-table__plan-title">Basic Kitchen Cleaning</th>
								<th class="b-pricing-table__plan-title">Standard Kitchen Cleaning</th>
								<th class="b-pricing-table__plan-title">Classic Kitchen Cleaning</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td class="b-pricing-table-price__title">Price (per month)</td>
								<td class="">699</td>
								<td class="">899</td>
								<td class="">1299</td>
							</tr>
{#							<tr>#}
{#								<td></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#							</tr>#}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- / .row -->
		</div><!-- / .container -->

	</div> <!-- / .wrapper -->
{% endblock %}