{% extends 'customer/base.html' %}
{% block maincontent %}
    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Topic Header -->
      <div class="topic">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3>Rate Card</h3>
            </div>
            <div class="col-sm-8">
              <ol class="breadcrumb pull-right hidden-xs">
                <li><a href="/">Home</a></li>
                <li class="active">Rate Card</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
					<h3>Bathroom Cleaning Charges</h3>
					<div class="table-responsive b-pricing-table">
						<table class="table table-bordered b-pricing-table__table small">
							<thead>
							<tr>
								<th class="b-pricing-table__plan-title col-md-3">No. of bathrooms</th>
								<th class="b-pricing-table__plan-title" colspan="3">Basic Bathroom Cleaning</th>
								<th class="b-pricing-table__plan-title" colspan="3">Standard Bathroom Cleaning</th>
								<th class="b-pricing-table__plan-title" colspan="3">Classic Bathroom Cleaning</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td></td>
								<td>One Time</td>
								<td>Twice A Week</td>
								<td>Once A Week</td>
								<td>One Time</td>
								<td>Twice A Week</td>
								<td>Once A Week</td>
								<td>One Time</td>
								<td>Twice A Week</td>
								<td>Once A Week</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">1</td>
								<td class="">200</td>
								<td class="">899</td>
								<td class="">550</td>
								<td class="">250</td>
								<td class="">1099</td>
								<td class="">750</td>
								<td class="">300</td>
								<td class="">1199</td>
								<td class="">950</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">2</td>
								<td class="">350</td>
								<td class="">1599</td>
								<td class="">999</td>
								<td class="">400</td>
								<td class="">1799</td>
								<td class="">1199</td>
								<td class="">450</td>
								<td class="">1999</td>
								<td class="">1399</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">3</td>
								<td class="">499</td>
								<td class="">1999</td>
								<td class="">1399</td>
								<td class="">549</td>
								<td class="">2199</td>
								<td class="">1599</td>
								<td class="">649</td>
								<td class="">2399</td>
								<td class="">1799</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">4</td>
								<td class="">599</td>
								<td class="">2499</td>
								<td class="">1599</td>
								<td class="">649</td>
								<td class="">2599</td>
								<td class="">1799</td>
								<td class="">749</td>
								<td class="">2799</td>
								<td class="">1999</td>
							</tr>
							<!--<tr>
								<td class="b-pricing-table-price__title">5</td>
								<td class="">3799</td>
								<td class="">2899</td>
								<td class="">1699</td>
								<td class="">3999</td>
								<td class="">3099</td>
								<td class="">1749</td>
								<td class="">4199</td>
								<td class="">3399</td>
								<td class="">1999</td>-->
							</tr>
{#							<tr>#}
{#								<td></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#							</tr>#}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- / .row -->
		</div><!-- / .container -->

    </div> <!-- / .wrapper -->
{% endblock %}