{% extends 'customer/base.html' %}
{% block maincontent %}
    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Topic Header -->
      <div class="topic">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3>Rate Card</h3>
            </div>
            <div class="col-sm-8">
              <ol class="breadcrumb pull-right hidden-xs">
                <li><a href="/">Home</a></li>
                <li class="active">Rate Card</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
					<h3>Bathroom Cleaning Charges</h3>
					<div class="table-responsive b-pricing-table">
						<table class="table table-bordered b-pricing-table__table small">
							<thead>
							<tr>
								<th class="b-pricing-table__plan-title col-md-3">No. of bathrooms</th>
								<th class="b-pricing-table__plan-title" colspan="3">Basic Bathroom Cleaning<sup>1</sup></th>
								<th class="b-pricing-table__plan-title" colspan="3">Standard Bathroom Cleaning<sup>2</sup></th>
								<th class="b-pricing-table__plan-title" colspan="3">Classic Bathroom Cleaning<sup>3</sup></th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td></td>
								<td>Daily</td>
								<td>Twice A Week</td>
								<td>Once A Week</td>
								<td>Daily</td>
								<td>Twice A Week</td>
								<td>Once A Week</td>
								<td>Daily</td>
								<td>Twice A Week</td>
								<td>Once A Week</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">1</td>
								<td class="">1299</td>
								<td class="">799</td>
								<td class="">499</td>
								<td class="">1499</td>
								<td class="">999</td>
								<td class="">649</td>
								<td class="">1699</td>
								<td class="">1199</td>
								<td class="">799</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">2</td>
								<td class="">2199</td>
								<td class="">1399</td>
								<td class="">799</td>
								<td class="">2399</td>
								<td class="">1599</td>
								<td class="">949</td>
								<td class="">2599</td>
								<td class="">1799</td>
								<td class="">1099</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">3</td>
								<td class="">2799</td>
								<td class="">1899</td>
								<td class="">1099</td>
								<td class="">2999</td>
								<td class="">2099</td>
								<td class="">1249</td>
								<td class="">3199</td>
								<td class="">2199</td>
								<td class="">1399</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">4</td>
								<td class="">3299</td>
								<td class="">2399</td>
								<td class="">1399</td>
								<td class="">3499</td>
								<td class="">2599</td>
								<td class="">1549</td>
								<td class="">3699</td>
								<td class="">2799</td>
								<td class="">1699</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">5</td>
								<td class="">3799</td>
								<td class="">2899</td>
								<td class="">1699</td>
								<td class="">3999</td>
								<td class="">3099</td>
								<td class="">1749</td>
								<td class="">4199</td>
								<td class="">3399</td>
								<td class="">1999</td>
							</tr>
{#							<tr>#}
{#								<td></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#							</tr>#}
							</tbody>
						</table>
					</div>
					<br>
					<div class="row col-md-12">
						<div class="col-md-4">
							1. Basic
							<ul>
								<li>Pot Cleaning</li>
								<li>Flush Tank Cleaning</li>
								<li>Floor Cleaning</li>
								<li>Once a Week Tiles Cleaning</li>
							</ul>
						</div>
						<div class="col-md-4">
							2. Standard
							<ul>
								<li>Basic Bathroom Cleaning</li>
								<li>Washbasin Cleaning</li>
								<li>Mirror Cleaning</li>
								<li>Thrice a Week Tiles Cleaning</li>
							</ul>
						</div>
						<div class="col-md-4">
							3. Classic
							<ul>
								<li>Standard Bathroom Cleaning</li>
								<li>Bathroom Window Cleaning</li>
								<li>Tap Cleaning</li>
								<li>Ceiling Cleaning</li>
								<li>Daily Floor and Tiles Cleaning</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- / .row -->
		</div><!-- / .container -->

    </div> <!-- / .wrapper -->
{% endblock %}