{% extends 'customer/base.html' %}
{% block maincontent %}
    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Topic Header -->
      <div class="topic">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3>Rate Card</h3>
            </div>
            <div class="col-sm-8">
              <ol class="breadcrumb pull-right hidden-xs">
                <li><a href="/">Home</a></li>
                <li class="active">Rate Card</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12 no-padding">
					<h3>Cooking Charges (per month)</h3>
					<div class="table-responsive b-pricing-table">
						<table class="table table-bordered b-pricing-table__table small">
							<thead>
							<tr>
								<th class="b-pricing-table__plan-title col-md-3">No. of persons</th>
								<th class="b-pricing-table__plan-title" colspan="3">Basic Cooking</th>
								<th class="b-pricing-table__plan-title" colspan="3">Standard Cooking</th>
								<th class="b-pricing-table__plan-title" colspan="3">Classic Cooking</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td></td>
								<td>Any one (B/L/D)</td>
								<td>Any two (B/L/D)</td>
								<td>All three (B+L+D)</td>
								<td>Any one (B/L/D)</td>
								<td>Any two (B/L/D)</td>
								<td>All three (B+L+D)</td>
								<td>Any one (B/L/D)</td>
								<td>Any two (B/L/D)</td>
								<td>All three (B+L+D)</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">1</td>
								<td class="">1499</td>
								<td class="">2799</td>
								<td class="">3999</td>
								<td class="">1599</td>
								<td class="">2999</td>
								<td class="">4499</td>
								<td class="">1799</td>
								<td class="">3199</td>
								<td class="">4699</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">2</td>
								<td class="">1999</td>
								<td class="">3799</td>
								<td class="">5399</td>
								<td class="">2199</td>
								<td class="">3999</td>
								<td class="">6199</td>
								<td class="">2599</td>
								<td class="">4399</td>
								<td class="">6599</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">3</td>
								<td class="">2349</td>
								<td class="">4499</td>
								<td class="">6749</td>
								<td class="">2399</td>
								<td class="">4649</td>
								<td class="">6749</td>
								<td class="">2999</td>
								<td class="">5249</td>
								<td class="">7349</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">4</td>
								<td class="">2999</td>
								<td class="">5799</td>
								<td class="">8599</td>
								<td class="">3099</td>
								<td class="">5999</td>
								<td class="">8749</td>
								<td class="">3899</td>
								<td class="">6799</td>
								<td class="">9549</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">5</td>
								<td class="">3599</td>
								<td class="">6999</td>
								<td class="">9749</td>
								<td class="">3749</td>
								<td class="">7299</td>
								<td class="">10549</td>
								<td class="">4749</td>
								<td class="">8299</td>
								<td class="">11549</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">6</td>
								<td class="">4199</td>
								<td class="">7799</td>
								<td class="">11349</td>
								<td class="">4399</td>
								<td class="">8499</td>
								<td class="">12599</td>
								<td class="">5599</td>
								<td class="">9699</td>
								<td class="">13799</td>
							</tr>
							<tr>
								<td class="b-pricing-table-price__title">More than 6</td>
								<td class="">679/person</td>
								<td class="">1299/person</td>
								<td class="">1899/person</td>
								<td class="">709/person</td>
								<td class="">1399/person</td>
								<td class="">2049/person</td>
								<td class="">909/person</td>
								<td class="">1599/person</td>
								<td class="">2249/person</td>
							</tr>
{#							<tr>#}
{#								<td></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#								<td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>#}
{#							</tr>#}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- / .row -->
		</div><!-- / .container -->

    </div> <!-- / .wrapper -->
{% endblock %}