{% extends 'customer/base.html' %}
{% load static from staticfiles %}
{% block maincontent %}
    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Browser Showcase -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="headline-lg">Paperclip: Multi-purpose Professional Theme</h2>
            <h4 class="text-theme-secondary">Perfect for corporate websites and mobile apps.</h4>
            <div class="browser-showcase">
              <img src="{% static 'img/browsers.png' %}" class="img-responsive" alt="...">
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

      <!-- Main Services -->
      <div class="main-services">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="services">
                <div class="service-item">
                  <i class="fa fa-gear"></i>
                  <div class="service-desc">
                    <h4>Built With Bootstrap 3</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                  </div>
                </div>
              </div> <!-- / .services -->
            </div>
            <div class="col-sm-4">
              <div class="services">
                <div class="service-item">
                  <i class="fa fa-arrows-alt"></i>
                  <div class="service-desc">
                    <h4>Responsive Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                  </div>
                </div>
              </div> <!-- / .services -->
            </div>
            <div class="col-sm-4">
              <div class="services">
                <div class="service-item">
                  <i class="fa fa-refresh"></i>
                  <div class="service-desc">
                    <h4>Easy to Customize</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                  </div>
                </div>
              </div> <!-- / .services -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="services">
                <div class="service-item">
                  <i class="fa fa-plus"></i>
                  <div class="service-desc">
                    <h4>20+ Templates Included</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                  </div>
                </div>
              </div> <!-- / .services -->
            </div>
            <div class="col-sm-4">
              <div class="services">
                <div class="service-item">
                  <i class="fa fa-envelope"></i>
                  <div class="service-desc">
                    <h4>24/7 Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                  </div>
                </div>
              </div> <!-- / .services -->
            </div>
            <div class="col-sm-4">
              <div class="services">
                <div class="service-item">
                  <i class="fa fa-picture-o"></i>
                  <div class="service-desc">
                    <h4>Isotope Gallery</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                  </div>
                </div>
              </div> <!-- / .services -->
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .main-features -->



    </div> <!-- / .wrapper -->
{% endblock %}

{% block footer %}
  <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
{% endblock %}